.footer-area {
  background: #ebebeb;
  padding: 70px 0 30px;
}

.footer-logo {
  display: inline-block;
}

.footer-title {
  margin-bottom: 24px;
}

.footer-description {
  max-width: 420px;
  margin-bottom: 24px;
}

.footer-widget {
  margin-bottom: 16px;
}

.footer-widget h4 {
  font-size: 20px;
  margin-bottom: 25px;
}

.footer-widget p {
  font-size: 16px;
}

.footer-widget ul {
  list-style: none;
  display: inline-block;
}

.footer-widget ul li {
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 15px;
}

.footer-widget ul li a i {
  transition: all 0.3s linear;
}

.footer-widget ul li a:hover i {
  transform: translateX(10px);
}

.footer-widget a {
  color: #0c293f;
  font-size: 14px;
}

.footer-social {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

.footer-social ul li {
  margin: 0 15px 0 0;
}

.footer-social ul li a {
  color: #303030;
}

.footer-payment-img {
  max-width: 350px;
}
