/* Laptop layout min 1200px */

@media (min-width: 1200px) and (max-width: 1599px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.5rem;
  }

  .main-menu > ul > li > a {
    font-size: 16px;
    padding: 15px 12px;
  }
}

/* Mini laptop layout min 769px */

@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --section-padding: 2rem 1rem;
  }

  .header-logo {
    width: 100%;
  }

  .main-menu > ul > li {
    margin: 0 5px;
  }

  .main-menu > ul > li > a {
    font-size: 14px;
    padding: 15px 4px;
  }

  .sub-menu.large-menu {
    width: 639px;
  }

  .category-menu .sub-menu-title h6 {
    font-size: 16px;
  }

  .category-menu .sub-menu-img {
    width: 128px;
  }

  .sub-menu-right-contents {
    padding: 5px;
    gap: 6px;
  }

  /* collection page css  */

  .filter-items {
    flex-wrap: wrap;
  }
  .filter-items .btn {
    width: 100%;
  }

  /* single product page css  */

  .product-cart-btns .btn {
    padding: 23px 40px;
    min-height: max-content;
  }

  .write-review-btn .btn {
    padding: 24px 40px;
    min-height: max-content;
  }

  /* blog page css  */

  .news-letter-btn .btn {
    padding-left: 47px;
    padding-right: 47px;
  }
}

/* Tablet Layout wide: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --section-padding: 2rem 1rem;
  }

  section:first-child {
    padding-top: 120px;
  }

  .product-img {
    text-align: center;
    margin-bottom: 24px;
  }

  .header-bottom {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: #fff;
    top: 0;
    left: 0;
  }

  .header-logo a {
    display: inline-block;
    width: 130px;
  }
  .toggle-icon {
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
  }

  .toggle-icon::before,
  .toggle-icon::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 3px;
    border-radius: 30px;
    background: #000;
    right: 0;
    transition: all 0.3s linear;
  }

  .toggle-icon::before {
    top: 32.5%;
  }

  .toggle-icon::after {
    bottom: 32.5%;
  }

  .toggle-icon.open::before {
    transform: rotate(45deg);
    top: 47.5%;
    height: 2px;
  }

  .toggle-icon.open::after {
    transform: rotate(-45deg);
    bottom: 47.5%;
    height: 2px;
  }

  .toggle-icon.open i {
    visibility: hidden;
  }

  .mobile-menu {
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    z-index: 9999;
    width: 65%;
    background: #fff;
    height: 100%;
    box-shadow: #0216330f -2px 0px 4px 0px;
    transition: all 0.3s linear;
    overflow-y: auto;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }
  .mobile-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
  }

  .mobile-logo a {
    display: inline-block;
    width: 130px;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .mobile-menu .toggle-icon {
    display: block;
    margin-left: auto;
    text-align: end;
    line-height: 1;
    width: 18px;
  }

  .mobile-menu-search-wrap {
    display: flex;
    margin: 12px;
  }

  .mobile-menu-search-wrap .form-floating {
    width: 100%;
  }

  .mobile-menu-search-wrap .search-btn .btn {
    width: 58px;
    min-height: 58px;
  }

  .mobile-menu ul > li,
  .mobile-menu ul > li > a > i,
  .mobile-sub-menu > li > a > i {
    transition: all 0.3s linear;
  }

  .mobile-menu > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
  }

  .mobile-sub-menu > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 36px;
    font-weight: 600;
  }

  .mobile-menu-list > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 48px;
    font-weight: 600;
  }

  .mobile-main-menu > li.open > a {
    background-color: var(--primary-color);
    color: #ffffff;
    border-bottom-color: var(--primary-color);
  }

  .mobile-sub-menu > li.open > a {
    background-color: var(--secondary-color);
    color: #000;
    border-bottom-color: var(--secondary-color);
  }

  .mobile-main-menu > li.open > a > i {
    transform: rotate(180deg);
  }
  .mobile-sub-menu > li.open > a > i {
    transform: rotate(180deg);
  }

  .mobile-menu > ul > li > .mobile-sub-menu {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: height 0.2s linear;
  }

  .mobile-menu > ul > li.open .mobile-sub-menu {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu,
  .mobile-menu-list {
    visibility: collapse;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .open > .mobile-sub-menu,
  .open > .mobile-menu-list {
    visibility: visible;
    opacity: 1;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu-contents {
    display: flex;
    gap: 15px;
    padding: 8px 24px;
  }

  .mobile-sub-menu > ul > li {
    border-bottom: 1px solid var(--primary-color);
  }
  .mobile-sub-menu > ul {
    background: #6fac2f;
  }

  .mobile-sub-menu-contents .icon i {
    font-size: 20px;
    color: #fff;
  }

  .mobile-sub-menu-contents .text-contents h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  .header-right > * {
    display: none;
  }

  .banner-area {
    margin-top: -35px;
  }

  .banner-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .banner-wrap {
    text-align: center;
  }

  .casual-shop-wrap {
    padding: 0 12px;
  }

  .casual-shop-text {
    margin-bottom: 20px;
  }

  .casual-shop-text h3 {
    font-size: 18px;
  }

  .casual-shop-btn a {
    padding: 12px 24px;
    min-height: max-content;
  }
  .offer-product-area {
    padding: 70px 0;
  }

  .marquee-area ul li {
    font-size: 24px;
    padding: 20px 0;
  }

  .blog-wrap {
    margin-bottom: 24px;
  }
  .info-wrap {
    margin-bottom: 24px;
  }

  /* collection page css  */

  .filter-btn-wrap {
    background: #fff;
    padding: 12px;
    margin-bottom: 24px;
  }

  .filter-wrap.mobile-filter-wrap {
    position: fixed;
    background: #fff;
    right: 0;
    top: 0;
    box-shadow: 0 0 5px 5px #00000020;
    z-index: 999999999999;
    overflow-y: auto;
    height: 100vh;
    width: 0;
    transition: all 0.3s linear;
  }

  .filter-wrap.mobile-filter-wrap.open {
    width: 296px;
  }

  .mobile-action-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    color: #333;
    border-bottom: 1px solid #333;
  }

  .mobile-action-btn h5 {
    line-height: 40px;
  }

  .mobile-action-btn i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
  }

  .filter-group {
    margin-bottom: 0px;
  }

  /* single product page css  */

  .product-img-wrap {
    box-shadow: 0 0 5px #00000020;
    padding: 20px;
    margin-bottom: 30px;
  }

  .product-img-wrap .product-img {
    width: 75%;
    margin: 0 auto;
  }

  .related-products-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 12px;
  }

  .related-product-items {
    flex-direction: column;
    justify-content: center;
  }

  .related-product-items .product-img,
  .related-product-items .product-text {
    width: 100%;
    text-align: center;
  }

  .descript-specs-area .col-lg-9,
  .descript-specs-area .col-lg-3 {
    padding: 0;
  }

  .review-title {
    margin-bottom: 20px;
  }

  .review-content {
    text-align: center;
  }

  /* contact page css  */

  .contact-info-area .col-lg-4 {
    padding: 0;
  }

  .contact-info-wrap {
    margin-bottom: 24px;
  }

  /* blog page css  */

  .news-letter-btn {
    text-align: left;
  }

  /* user page css  */

  .sidebar-toggle-btn {
    width: 50%;
    margin: 24px auto;
  }

  .user-sidebar-wrap {
    margin-bottom: 40px;
  }

  .user-dashboard-list {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    padding: 0 8px;
  }

  .user-dashboard-list.open {
    height: 480px;
    padding: 8px;
  }

  .dashboard-card {
    padding: 50px 24px;
  }

  /* footer css  */

  .footer-area {
    padding: 70px 0 90px;
  }

  .footer-title h4 {
    font-size: 20px;
  }

  .footer-widget .footer-description p {
    font-size: 14px;
  }
}

/* Mobile layout max 425 */

@media (max-width: 767px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
  }

  body {
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }

  section:first-child {
    padding-top: 100px;
  }

  .container {
    max-width: 94%;
  }

  .btn__txt {
    font-size: 14px;
  }

  .btn-close {
    right: 5px;
    top: 5px;
  }

  .form-floating input {
    min-height: 58px;
  }

  .form-floating textarea {
    min-height: 120px !important;
  }

  .header-bottom {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: #fff;
    top: 0;
    left: 0;
  }

  .btn {
    padding: 12px 20px;
    min-height: max-content;
  }

  .header-logo a {
    display: inline-block;
    width: 130px;
  }
  .toggle-icon {
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    z-index: 9999999999999;
  }

  .toggle-icon::before,
  .toggle-icon::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 3px;
    border-radius: 30px;
    background: #000;
    right: 0;
    transition: all 0.3s linear;
  }

  .toggle-icon::before {
    top: 32.5%;
  }

  .toggle-icon::after {
    bottom: 32.5%;
  }

  .toggle-icon.open::before {
    transform: rotate(45deg);
    top: 47.5%;
    height: 2px;
  }

  .toggle-icon.open::after {
    transform: rotate(-45deg);
    bottom: 47.5%;
    height: 2px;
  }

  .toggle-icon.open i {
    visibility: hidden;
  }

  .mobile-menu {
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #fff;
    height: 100%;
    box-shadow: #0216330f -2px 0px 4px 0px;
    transition: all 0.3s linear;
    overflow-y: auto;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }

  .mobile-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
  }

  .mobile-logo a {
    display: inline-block;
    width: 130px;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .mobile-menu .toggle-icon {
    display: block;
    margin-left: auto;
    text-align: end;
    line-height: 1;
    width: 18px;
  }

  .mobile-menu-search-wrap {
    display: flex;
    margin: 12px;
  }

  .mobile-menu-search-wrap .form-floating {
    width: 100%;
  }

  .mobile-menu-search-wrap .search-btn .btn {
    width: 58px;
    min-height: 58px;
  }

  .mobile-menu ul > li,
  .mobile-menu ul > li > a > i,
  .mobile-sub-menu > li > a > i {
    transition: all 0.3s linear;
  }

  .mobile-menu > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
  }

  .mobile-sub-menu > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 36px;
    font-weight: 600;
  }

  .mobile-menu-list > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 48px;
    font-weight: 600;
  }

  .mobile-main-menu > li.open > a {
    background-color: var(--primary-color);
    color: #ffffff;
    border-bottom-color: var(--primary-color);
  }

  .mobile-sub-menu > li.open > a {
    background-color: var(--secondary-color);
    color: #000;
    border-bottom-color: var(--secondary-color);
  }

  .mobile-main-menu > li.open > a > i {
    transform: rotate(180deg);
  }
  .mobile-sub-menu > li.open > a > i {
    transform: rotate(180deg);
  }

  .mobile-menu > ul > li > .mobile-sub-menu {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: height 0.2s linear;
  }

  .mobile-menu > ul > li.open .mobile-sub-menu {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu,
  .mobile-menu-list {
    visibility: collapse;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .open > .mobile-sub-menu,
  .open > .mobile-menu-list {
    visibility: visible;
    opacity: 1;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu-contents {
    display: flex;
    gap: 15px;
    padding: 8px 24px;
  }

  .mobile-sub-menu > ul > li {
    border-bottom: 1px solid var(--primary-color);
  }
  .mobile-sub-menu > ul {
    background: #6fac2f;
  }

  .mobile-sub-menu-contents .icon i {
    font-size: 20px;
    color: #fff;
  }

  .mobile-sub-menu-contents .text-contents h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  .header-right > * {
    display: none;
  }

  .banner-area {
    margin-top: -15px;
  }

  .banner-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .banner-wrap {
    text-align: center;
  }

  .banner-title h2 {
    font-size: 36px;
  }

  .carousel-control-prev {
    left: -15px;
  }

  .carousel-control-next {
    right: -15px;
  }

  .casual-shop-wrap {
    padding: 0 12px;
    margin-bottom: 24px;
  }

  .casual-shop-text {
    margin-bottom: 20px;
  }

  .casual-shop-text h3 {
    font-size: 18px;
  }

  .casual-shop-btn a {
    padding: 12px 24px;
    min-height: max-content;
  }

  .product-wrap {
    margin-bottom: 24px;
  }

  .product-content .product-title h4 {
    font-size: 14px;
  }

  .offer-product-area {
    padding: 70px 0;
  }

  .offer-product-title h2 {
    font-size: 24px;
  }
  .offer-product-description p {
    font-size: 14px;
  }

  #compareModal .modal-body {
    overflow-x: auto;
  }

  .product-cart-btn .btn {
    padding: 8px 12px;
    min-height: max-content;
  }

  .product-countdown {
    max-width: 80px;
    height: 40px;
  }

  .product-decrease,
  .product-increase {
    font-size: 12px;
    line-height: 40px;
    padding: 0 5px;
  }

  .marquee-area ul li {
    font-size: 18px;
    padding: 20px 0;
  }

  .blog-wrap {
    margin-bottom: 40px;
  }

  .blog-time {
    font-size: 12px;
  }
  .blog-title {
    margin-bottom: 12px;
  }

  .blog-title h6 {
    font-size: 16px;
  }

  .blog-btn .btn {
    padding: 8px 12px;
  }

  .info-wrap {
    margin-bottom: 24px;
  }

  /* collection page css  */

  .filter-btn-wrap {
    background: #fff;
    padding: 12px;
    margin-bottom: 24px;
  }

  .filter-wrap.mobile-filter-wrap {
    position: fixed;
    background: #fff;
    right: 0;
    top: 0;
    box-shadow: 0 0 5px 5px #00000020;
    z-index: 999999999999;
    overflow-y: auto;
    height: 100vh;
    width: 0;
    transition: all 0.3s linear;
  }

  .filter-wrap.mobile-filter-wrap.open {
    width: 296px;
  }

  .mobile-action-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    color: #333;
    border-bottom: 1px solid #333;
  }

  .mobile-action-btn h5 {
    line-height: 40px;
  }

  .mobile-action-btn i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
  }

  .all-collection-products {
    padding: 10px;
  }

  .filter-group {
    margin-bottom: 0px;
  }

  /* single product page css  */

  .product-img-wrap {
    box-shadow: 0 0 5px #00000020;
    padding: 20px;
    margin: 0 auto 30px;
  }

  .product-cart-btns .btn {
    padding: 13px 20px;
    font-size: 14px;
  }

  .all-products-area .nav-link,
  .common-section .nav-link {
    padding: 8px 16px;
    font-size: 14px;
  }

  .descript-specs-area .tab-content {
    background: #fff;
    padding: 12px;
  }

  .specifiactions-wrap {
    font-size: 14px;
  }

  .product-full-description p,
  .shipping-policy-content p {
    font-size: 14px;
  }

  .shipping-policy-content {
    margin-bottom: 20px;
  }

  .descript-specs-area .col-lg-9,
  .descript-specs-area .col-lg-3 {
    padding: 0;
  }

  .review-title {
    margin-bottom: 20px;
  }

  .review-content {
    text-align: center;
  }

  .submit-review-btn .btn {
    width: 100%;
  }

  .stars-wrap label {
    font-size: 24px;
  }

  /* cart page css  */

  .cart-wrap,
  .dashboard-table {
    width: 100%;
    overflow-x: auto;
  }

  .cart-wrap table,
  .dashboard-table table {
    width: 750px;
  }

  /* checkout page css  */

  .contact-form-title h3 {
    margin-bottom: 8px;
  }

  .contact-form-title p {
    font-size: 14px;
  }

  /* contact page css  */

  .contact-info-area .col-lg-4 {
    padding: 0;
  }

  .contact-info-wrap {
    margin-bottom: 24px;
  }

  /* blog page css  */

  .single-blog-title h1 {
    font-size: 28px;
  }

  .single-blog-box {
    padding: 16px;
    text-align: left;
  }

  .tags-list ul li a {
    font-size: 12px;
    padding: 5px 10px;
  }

  .comment-items {
    flex-direction: column;
    align-items: start;
  }

  .comment-items .item-img {
    margin-bottom: 24px;
  }

  .news-letter-btn {
    margin-top: 24px;
  }

  .news-letter-btn .btn {
    width: 100%;
  }

  /* search page css  */

  .search-btn {
    margin-top: 24px;
  }

  .search-product-item {
    flex-direction: column;
  }

  .product-item-img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .search-item-text .item-title {
    margin-bottom: 8px;
  }

  .search-item-text .item-description {
    margin-top: 8px;
  }

  /* login/register page css  */

  .box,
  .overbox {
    padding: 20px;
  }

  .alt-2.active .shape {
    top: -25px;
    right: 40px;
  }

  .material-button,
  .alt-2 {
    top: -15px;
    right: -15px;
  }

  /* user page css  */

  .sidebar-toggle-btn {
    width: 50%;
    margin: 24px auto;
  }

  .user-sidebar-wrap {
    margin-bottom: 40px;
  }

  .user-dashboard-list {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    padding: 0 8px;
  }

  .user-dashboard-list.open {
    height: 480px;
    padding: 8px;
  }

  .profile-info-wrap .btn {
    width: 100%;
  }

  /* footer css  */

  .footer-area {
    padding: 70px 0 90px;
  }

  .footer-title h4 {
    font-size: 20px;
  }

  .footer-widget {
    margin-bottom: 0;
  }

  .footer-widget .footer-description p {
    font-size: 14px;
  }

  .footer-widget ul {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear, visibility 0.3s linear;
  }

  .footer-widget.active ul {
    visibility: visible;
    opacity: 1;
    height: 500px;
    max-height: max-content;
  }

  .footer-widget > h4 {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .footer-widget > h4 i {
    display: block;
    transition: all 0.3s linear;
  }

  .footer-widget.active > h4 {
    margin-bottom: 24px;
  }
  .footer-widget.active > h4 i {
    transform: rotate(180deg);
  }
}
